
instantclient_23_6/adrci.exe
instantclient_23_6/adrci.sym
instantclient_23_6/BASIC_LICENSE
instantclient_23_6/BASIC_README
*.dll
*.exe
*.sym
*.sso
instantclient_23_6/network/admin/README
*.ora
*.jar
